# Python
__pycache__/
*.pyc

# Django
staticfiles_collected/
media/
static/

# Environment
.env
venv/

# Production scripts
deploy.bat
restart_production.bat
stop_production.bat
requirements.txt

# Generated data
mensajes/*.pet
